
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
  }

#reset-button {
    margin-top: 10px;
}

#Golden-dome {
    width: 1000px;
}

.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

