
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px; 
    margin: 0 auto;
  }

#reset-button {
    margin-top: 10px;
}

#Golden-dome {
    width: 1000px;
}

.navbar {
    background-color: #0099ff;
    display: flex;
    justify-content: space-between;

}

.navbar-options {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
}



.navbar-options a{
    display: inline-block;
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #ffffff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .navbar-options ul li:hover {
    background-color: #0056b3; 
  }
