#favourite-movies > ul {
    color: blue; /* Change the color to your desired color */
    font-family: Georgia, serif;
    font-style: italic; /* Italic font style */
    font-size: 18px; /* Custom font size */
}

#My-classes > ul {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 16px; 
    font-weight: bold; 
    background-color: lightblue; 

}

a {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

#intro::first-letter {
    font-size: 1.5em; 
    float: left; 
    font-weight: bold; 
}

dl > dt {
    color: orange
}

